<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>30x it!</title>
</head>
<body>
<header>
  <h1>30x it</h1>
  <h2>Wow such simple redirects</h2>
</header>
<main>
  <form action="/rules" method="POST">
    <input type="text" name="host">
    <input type="text" name="target">
    <button type="submit"></button>
  </form>
</main>
</body>
</html>
